 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PubMan Author List</title>
</head>

<body>
  <h1>PubMan &mdash; Author List</h1>
  <ul>
  <li><a href="{% url 'pubman:index' %}">Index</a></li>
  </ul>
  <ul>
  <li><a href="{% url 'pubman:author_new' %}">Add</a></li>
  </ul>
  {% if author_list %}
  <table>
    <tr>
    <th>Last name</th>
    <th>First name</th>
    <th></th>
    </tr>
    {% for author in author_list %}
    <tr>
      <td>{{ author.last_name }}</td>
      <td>{{ author.first_name }}</td>
      <td><a href="{% url 'pubman:author_edit' author.id %}">Edit</a></td>
      <td><a href="{% url 'pubman:author_delete' author.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No authors!</p>
  {% endif %}
</body>
</html>

